# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env / venv / conda
.venv/
venv/
.env/
.conda/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data
data/raw/
data/clean/
*.csv
*.tsv

# Models
models/*.joblib

# Streamlit
.streamlit/secrets.toml
